<div id="page-container-detail">
<header id="detail-header">
<h1 id="detail-title"> Real Estate Agency  </h1>
</header>
<div id="main-container-detail">
  <div id="agent-profile-title">AGENT PROFILE</div>
  <hr id="horizontal">
    <div id="agent-detail-container">
      <div id="agent-detail-info">
        <p id="agent-detail-name"> Lori Darvucchi</p>
        <p id="agent-detail-title">Real Estate Specialist</p>
        <p id="agent-detail-email">lori.darvucchi@realestate.com</p>
        <p id="agent-detail-phone">518-508-9433 ext 8472</p>
      </div>
      <div id="agent-detail-image-container">
        <%=image_tag("agent.jpg", alt: "Picture of Real Estate Agent", id: "agent-image-detail") %>
      </div>
    </div>
    <div id="company-info-detail">
        <div id="company-name-detail">Real Estate Company</div>
        <div id="company-street-detail">123 Real Estate Way</div>
        <div id="company-city-detail">Schenectady, NY 12301</div>
    </div>
    <hr id="horizontal">

    
    <div id="purchase-container-detail">
        <div id="date-container-detail">
           <div id="date-title">Date</div>
           <div id="date-uploaded">2018-03-13</div>
        </div>
        <div id="order-container-detail">
            <div id="order-detail-title">Order Details</div>
            <div id="order-address-detail">4865 Skyline Dr, Duanesburg, NY, 12053, US</div>
            <div id="purchase-options-container">
                    <div id="stills-title">Stills: Slideshow-Virtual Tour </div>
                    <div id="stills-options-container"> 
                        <div class="virtual-tour-branded-container">
                            <input class="virtual-tour-branded-input" type="text" value="Virtual Tour (branded)">
                            <button id="stills-virtual-tour-branded-copy" class="copy-detail-button">Copy Link</button>
                            <button id="stills-edit-branded-button" class="edit-detail-button">Edit</button>
                            <button id="stills-upgrade-branded-button" class="upgrade-detail-button">Upgrade</button>
                        </div>
                        <div class="virtual-tour-unbranded-container">
                            <input class="virtual-tour-unbranded-input" type="text" value="Virtual Tour (unbranded)">
                            <button id="stills-virtual-tour-unbranded-copy" class="copy-detail-button">Copy Link</button>
                            <button id="stills-unbranded-how-to-button" class="how-to-detail-button">How-to</button>
                        </div>
                         <div class="download-container">
                            <input class="download-input" type="text" value="Download photos (save required)">
                            <button id="stills-download-copy" class="copy-detail-button">Copy Link</button>
                            <button id="stills-how-to-button" class="how-to-detail-button">How-to</button>
                        </div>
                  </div>

                   <div id="drone-title">Drone photos only (5-30 photos)</div>
                   <div id="drone-options-container"> 
                      <div class="virtual-tour-branded-container">
                            <input class="virtual-tour-branded-input" type="text" value="Virtual Tour (branded)">
                            <button id="drone-virtual-tour-branded-copy" class="copy-detail-button">Copy Link</button>
                            <button id="drone-edit-branded-button" class="edit-detail-button">Edit</button>
                            <button id="drone-upgrade-branded-button" class="upgrade-detail-button">Upgrade</button>
                        </div>
                        <div class="virtual-tour-unbranded-container">
                            <input class="virtual-tour-unbranded-input" type="text" value="Virtual Tour (unbranded)">
                            <button id="drone-virtual-tour-unbranded-copy" class="copy-detail-button">Copy Link</button>
                            <button id="drone-unbranded-how-to-button" class="how-to-detail-button">How-to</button>
                        </div>
                         <div class="download-container">
                            <input class="download-input" type="text" value="Download photos (save required)">
                            <button id="drone-stills-download-copy" class="copy-detail-button">Copy Link</button>
                            <button id="drone-stills-how-to-button" class="how-to-detail-button">How-to</button>
                        </div>
                  </div>
            </div>
        </div>        
    </div>
    <hr id="horizontal">

<div id="purchase-container-detail">
        <div id="date-container-detail">
           <div id="date-title">Date</div>
           <div id="date-uploaded">2018-03-13</div>
        </div>
        <div id="order-container-detail">
            <div id="order-detail-title">Order Details</div>
            <div id="order-address-detail">4865 Skyline Dr, Duanesburg, NY, 12053, US</div>
            <div id="purchase-options-container">
                    <div id="stills-title">Stills: Slideshow-Virtual Tour </div>
                    <div id="stills-options-container"> 
                        <div class="virtual-tour-branded-container">
                            <input class="virtual-tour-branded-input" type="text" value="Virtual Tour (branded)">
                            <button id="stills-virtual-tour-branded-copy" class="copy-detail-button">Copy Link</button>
                            <button id="stills-edit-branded-button" class="edit-detail-button">Edit</button>
                            <button id="stills-upgrade-branded-button" class="upgrade-detail-button">Upgrade</button>
                        </div>
                        <div class="virtual-tour-unbranded-container">
                            <input class="virtual-tour-unbranded-input" type="text" value="Virtual Tour (unbranded)">
                            <button id="stills-virtual-tour-unbranded-copy" class="copy-detail-button">Copy Link</button>
                            <button id="stills-unbranded-how-to-button" class="how-to-detail-button">How-to</button>
                        </div>
                         <div class="download-container">
                            <input class="download-input" type="text" value="Download photos (save required)">
                            <button id="stills-download-copy" class="copy-detail-button">Copy Link</button>
                            <button id="stills-how-to-button" class="how-to-detail-button">How-to</button>
                        </div>
                  </div>

                   <div id="drone-title">Drone photos only (5-30 photos)</div>
                   <div id="drone-options-container"> 
                      <div class="virtual-tour-branded-container">
                            <input class="virtual-tour-branded-input" type="text" value="Virtual Tour (branded)">
                            <button id="drone-virtual-tour-branded-copy" class="copy-detail-button">Copy Link</button>
                            <button id="drone-edit-branded-button" class="edit-detail-button">Edit</button>
                            <button id="drone-upgrade-branded-button" class="upgrade-detail-button">Upgrade</button>
                        </div>
                        <div class="virtual-tour-unbranded-container">
                            <input class="virtual-tour-unbranded-input" type="text" value="Virtual Tour (unbranded)">
                            <button id="drone-virtual-tour-unbranded-copy" class="copy-detail-button">Copy Link</button>
                            <button id="drone-unbranded-how-to-button" class="how-to-detail-button">How-to</button>
                        </div>
                         <div class="download-container">
                            <input class="download-input" type="text" value="Download photos (save required)">
                            <button id="drone-stills-download-copy" class="copy-detail-button">Copy Link</button>
                            <button id="drone-stills-how-to-button" class="how-to-detail-button">How-to</button>
                        </div>
                  </div>
            </div>
        </div>        
    </div>
    <hr id="horizontal">

    <div id="purchase-container-detail">
        <div id="date-container-detail">
           <div id="date-title">Date</div>
           <div id="date-uploaded">2018-03-13</div>
        </div>
        <div id="order-container-detail">
            <div id="order-detail-title">Order Details</div>
            <div id="order-address-detail">4865 Skyline Dr, Duanesburg, NY, 12053, US</div>
            <div id="purchase-options-container">
                    <div id="stills-title">Stills: Slideshow-Virtual Tour </div>
                    <div id="stills-options-container"> 
                        <div class="virtual-tour-branded-container">
                            <input class="virtual-tour-branded-input" type="text" value="Virtual Tour (branded)">
                            <button id="stills-virtual-tour-branded-copy" class="copy-detail-button">Copy Link</button>
                            <button id="stills-edit-branded-button" class="edit-detail-button">Edit</button>
                            <button id="stills-upgrade-branded-button" class="upgrade-detail-button">Upgrade</button>
                        </div>
                        <div class="virtual-tour-unbranded-container">
                            <input class="virtual-tour-unbranded-input" type="text" value="Virtual Tour (unbranded)">
                            <button id="stills-virtual-tour-unbranded-copy" class="copy-detail-button">Copy Link</button>
                            <button id="stills-unbranded-how-to-button" class="how-to-detail-button">How-to</button>
                        </div>
                         <div class="download-container">
                            <input class="download-input" type="text" value="Download photos (save required)">
                            <button id="stills-download-copy" class="copy-detail-button">Copy Link</button>
                            <button id="stills-how-to-button" class="how-to-detail-button">How-to</button>
                        </div>
                  </div>

                   <div id="drone-title">Drone photos only (5-30 photos)</div>
                   <div id="drone-options-container"> 
                      <div class="virtual-tour-branded-container">
                            <input class="virtual-tour-branded-input" type="text" value="Virtual Tour (branded)">
                            <button id="drone-virtual-tour-branded-copy" class="copy-detail-button">Copy Link</button>
                            <button id="drone-edit-branded-button" class="edit-detail-button">Edit</button>
                            <button id="drone-upgrade-branded-button" class="upgrade-detail-button">Upgrade</button>
                        </div>
                        <div class="virtual-tour-unbranded-container">
                            <input class="virtual-tour-unbranded-input" type="text" value="Virtual Tour (unbranded)">
                            <button id="drone-virtual-tour-unbranded-copy" class="copy-detail-button">Copy Link</button>
                            <button id="drone-unbranded-how-to-button" class="how-to-detail-button">How-to</button>
                        </div>
                         <div class="download-container">
                            <input class="download-input" type="text" value="Download photos (save required)">
                            <button id="drone-stills-download-copy" class="copy-detail-button">Copy Link</button>
                            <button id="drone-stills-how-to-button" class="how-to-detail-button">How-to</button>
                        </div>
                  </div>
            </div>
        </div>        
    </div>


</div>
</div>