<header id="home-header"><h1 id="home-title">A Beautifully Crafted Home</h1>
<div id="home-sub"><i>19 FULLER LANE, Albany, NY 12026 US</i></div>
</header>
<div id="main-container"> 
<div id="photo-container">
 <%=image_tag("kitchen.jpg", alt: "Picture of a kitchen")%>
</div>
<div id="agent-container">
<%=image_tag("agent.jpg", alt: "Picture of Real Estate Agent")%>
<div id="agent-contact">
<p id="agent-name"> Lori Darvucchi</p>
<p id="agent-title">Real Estate Specialist</p>
<p id="agent-email">lori.darvucchi@realestate.com</p>
<p id="agent-phone">518-508-9433 ext 8472</p>
</div>
</div>
</div>


 <div id="home-description">
 <p>Such a beautiful renovation. 6 bedrooms and 4.5 baths. New hardwood floors, open floor plan, stainless steel appliances, beautiful ceiling details all await you!! New kitchen with granite countertops and all new bathrooms. Relax in your HUGE finished basement and enjoy the summer in your large yard.</p>
 </div>