<div id="page-container-contact">
<header id="contact-header"><h1 id="contact-header-title">A Beautifully Crafted Home</h1>
<div id="contact-sub"><i>19 FULLER LANE, Albany, NY 12026 US</i></div>
</header>
<div id="photo-container-contact">
 <%=image_tag("kitchen.jpg", alt: "Picture of a kitchen", id: "kitchen-image-contact", class: "contact-image") %>
</div>
<div id="contact-container">
<div id="agent-image-container-contact">
<%=image_tag("agent.jpg", alt: "Picture of Real Estate Agent", id: "agent-image-contact", class: "contact-image") %>
 </div>
 <div id="contact-info">
<p id="contact-name"> Lori Darvucchi</p>
<p id="contact-title">Real Estate Specialist</p>
<p id="contact-email">lori.darvucchi@realestate.com</p>
<p id="contact-phone">518-508-9433 ext 8472</p>
 </div>
</div>
